@font-face {

    font-family: Ubuntu;
    src: url(../src/Ubuntu-Regular.ttf);
}

@font-face {

    font-family: Icons;
    src: url(../src/icons.woff2);
}

@media only screen and (min-width: 500px) {

    header {

        display: inline-flex;
    }
    
    header > .links {
    
        display: inline-flex;
        padding-bottom: 0px;
        padding-top: 5px;
    }

    .github, .blog {

        margin-left: 15px;
    }
}

html, body {

    height: 100%;
}

body {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Ubuntu, serif;
    background: url(../img/hello.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #e0e0e0;
}

header {

    flex: 1 0 auto;
    padding: 15px 0 0 15px;
    font-size: 2rem;
}

header > div {

    padding: 0 0 10px 0;
    display: block;

}

header > .links > div {

    display: block;
    padding: 0 0 5px 0;
    font-size: 1.6rem;

}

.nickname > a {

    color: #e0e0e0;
    font-family: inherit;
    text-decoration: none;
}

.nickname > a:hover {

    color: #598fe5;
}

.github > a {

    color: #e0e0e0;
    text-decoration: none;

}

.github > a:hover{

    color: #666666;
}

.blog > a {

    color: #e0e0e0;
    text-decoration: none;

}

.blog:hover, .blog > a:hover{

    color: #666666;

}

footer {

    font-size: 1.1em;
    padding: 0 0 15px 15px;
    flex-shrink: 0;
}

footer a {

    color: #e0e0e0;
    text-decoration: none;

}

footer a:hover{

    color: #666666;
}